<ul *ngIf="starships.length !== 0">
  <li *ngFor="let s of starships">
    {{s.name }} / &nbsp;&nbsp;
    <span>
      {{s.model}}
    </span> /&nbsp;&nbsp;
    <span>
      {{s.length | starshipLength}}
      <!-- <app-starship-length [starshipLength]="s.length"></app-starship-length> -->
    </span>&nbsp;&nbsp;

    <a [routerLink]="['/starships',getIndex(s.url)]">More Details</a>
  </li>
</ul>
<button class="btn" *ngIf="isNext" (click)="pageChange(nextText)" ><a>Next</a></button>
<button class="btn"  *ngIf="isPrevious" (click)="pageChange(prevText)"><a>Previous</a></button>
