
  <div class="topnav">
    <div *ngFor="let s of suggestString">
      <a (click)="suggestSearch(s)">{{ s }}</a>
    </div>
      <div class="search-container">
        <form>
            <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="doSearch()" placeholder="Search.." name="search">
            <button><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="container">
      <nav class="nav">
        <a [routerLink]="['/films']">Films</a>  &nbsp;
        <a [routerLink]="['/people']" (click)="reloadCurrentPage('/people')">People</a> &nbsp;
        <a [routerLink]="['/planets']">Planet</a> &nbsp;
        <a [routerLink]="['/species']" >Species</a> &nbsp;
        <a [routerLink]="['/starships']" (click)="reloadCurrentPage('/starships')">Starships</a> &nbsp;
        <a [routerLink]="['/vehicles']" >Vehicles</a> &nbsp;
        </nav>
        <router-outlet></router-outlet>
    </div>



