
  <ul *ngIf="peoples.length !== 0">
    <li *ngFor="let p of peoples ; let i=index">
      {{p.name }} / &nbsp;&nbsp;
      <span>
        <app-people-hight [peopleheight]="p.height"></app-people-hight>
      </span> /&nbsp;&nbsp;
      <span>
        <app-home-world [homeWorldUrl]="p.homeworld"></app-home-world>
      </span> &nbsp;&nbsp;
      <a [routerLink]="['/people',getIndex(p.url)]">More Details</a>
    </li>
  </ul>
  <button class="btn" *ngIf="isNext" (click)="goToNextPage()" ><a>Next</a></button>
  <button class="btn"  *ngIf="isPrevious" (click)="goToPrevPage()"><a>Previous</a></button>

