
  <ul *ngIf="peoples.length !== 0">
    <li *ngFor="let p of peoples ; let i=index">
      {{p.name }} / &nbsp;&nbsp;
      <span>
        {{p.height | peopleHeight }}
      </span> / &nbsp;&nbsp;
      <span>
        {{ p.homeworld | homeworld}}
      </span> &nbsp;&nbsp;
      <a [routerLink]="['/people',getIndex(p.url)]">More Details</a>
    </li>
  </ul>
  <p *ngIf="hasNoDataForSearch">No results found.</p>
  <button class="btn" *ngIf="isNext" (click)="pageChange(nextText)" ><a>Next</a></button>
  <button class="btn"  *ngIf="isPrevious" (click)="pageChange(prevText)"><a>Previous</a></button>

